doctype html
html
	head
		title Word Quizes
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css")
		link(rel="stylesheet", href="pop-corn.css")
		script(src="https://code.jquery.com/jquery-2.2.3.min.js")
		script(src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js")
		meta(name="viewport", content='width=device-width, initial-scale=1.0')
	body
		h1 Word Quiz
		#quiz
			- for (var i = 0; i<5; i++)
				.row
					.small-12.medium-6.columns(data-word=true)
						= quiz[2*i]
					.small-12.medium-6.columns(data-word=true)
						= quiz[2*i+1]
