doctype html
html
	head
		title Word Quizes
		link(rel="stylesheet", href="http://cdn.jsdelivr.net/zurb/foundation-apps-1.2.0.min.css")
		link(rel="stylesheet", href="pop-corn.css")
		script(src="http://cdn.jsdelivr.net/zurb/foundation-apps-1.2.0.min.js")
	body
		h1 Word Quiz
		#quiz
			- i = 0
			each item in quiz
				.row
					=item